
/* CSS for All Pages START */
html{
	font-family: 'Courier New';
	background-color: #2e2e2e;
}

a{
	/*after integrating these directly into the code for a day (b/c thats what
	ppl do on stack overflow for small examples) I realized I could put it here 
	instead of typing it each and every time */
	text-decoration: none;
	color: rgb(0,0,0);
}

a:hover{
	text-decoration: underline;	
}

#closer{
	text-align: center;
}

h4{
	font-size:40px; 
	text-align:center;
	color:white;
}

#content{
	font-size: 26px;
	padding-bottom: 20px;
	text-align: center;
	/*border: dotted #333333 1px; */
	width:50%;
	margin:0 auto;
	color: white;
}
/* CSS for All Pages END */

#branch-img{
	width:408;
	display:block;
	margin:auto;
}

#branchmap{
	max-width:70%;
	padding-left: 15%;
}

