
/* CSS for All Pages START */
html{
	font-family: 'Josefin Sans', sans-serif;
}

#nav-div{
	font-size: 26px;
	/*-color: gray; */
	text-align: center;
	/*border: dotted #333333 1px; */
	width:100%;
	margin:0 auto;
}

#nav-li{
	display: inline;
	padding-right: 10px;
}

a{
	/*after integrating these directly into the code for a day (b/c thats what
	ppl do on stack overflow for small examples) I realized I could put it here 
	instead of typing it each and every time */
	text-decoration: none;
	color: rgb(0,0,0);
}

details > summary {
	list-style: none;
	padding: 8px 6px;
	font-size: 30px;
	text-decoration: underline;
}

details > p {
	font-size: 25px;
}

a:hover{
	text-decoration: underline;	
}

#closer{
	text-align: center;
}

h4{
	background-color: white;	
	font-size:40px; 
	text-align:center;
}

#content{
	font-size: 32px;
	background-color: white;
	text-align: center;
	/*border: dotted #333333 1px; */
	width:70%;
	margin:0 auto;
}

/* theres a problem here when the details are opened. It invovles CSS. Fix Later */
#list{
	font-size: 26px;
	background-color: white;
	text-align: center;
	/*border: dotted #333333 1px; */
	width:50%;
	margin:0 auto;
}
/* CSS for All Pages END */